/* You can add global styles to this file, and also import other style files */
@import "libs/ui/src/lib/_theme.scss";

html, body {
  margin: 0;
  background-color: #fff;
  color: #333;
}

body {
  padding-top: 53px;
}
